.header {
  border-bottom: 1px solid #ECECEC;
}
.navigation {
  display: flex;
}
.navigation__list {
  display: flex;
  list-style: none;
  align-items: center;
}
.navigation-logo-header {
  margin-right: 93px;
}

.header .link-mail {
  margin-left: auto;
  margin-right: 50px;
}
.header .navigation-logo-header {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $main-color;
}
.navigation-logo-header > span {
  color: $logo-color;
}
.navigation__link,
.link-mail,
.link-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
.link-mail,
.link-tel {
  color: $telmail-color;
}
.navigation__link:hover,
.navigation__link:focus,
.link-mail:hover,
.link-mail:focus,
.link-tel:hover,
.link-tel:focus {
  color: $main-color;
}
.envelope {
  margin-right: 10px;
}
.smarthphone {
  margin-right: 10px;
}
.link-mail:hover,
.link-mail:focus,
.link-tel:hover,
.link-tel:focus {
  fill: $main-color;
}
.navigation__item {
  position: relative;

 &:nth-child(1) {
  margin-right: 46px;
}
 &:nth-child(2) {
  margin-right: 64px;
}
}
.agencja::after,
.portfolio::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: $main-color;
  border-radius: 2px;
  display: flex;
  margin-top: 28px;
}
.agencja,
.portfolio {
  color: $main-color
}