.lorem .lorem__list {
  display: flex;
  list-style: none;
}
.lorem__studio {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: -53px;
}
.lorem__item > .lorem__text {
  line-height: 1.714;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.lorem__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}
.lorem__list .lorem__item {
  margin-right: 30px;
}
.lorem__icon {
  display: flex;
  margin: 0 auto;
  margin-bottom: 50px;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 25px 100px;
}